* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #353838;
  font: 100% Helvetica, sans-serif;
}

.sign-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.sign-form form {
  text-align: center;
  width: 300px;
  color: white;
  margin: 20px;
}

.sign-form input {    
  display: block;
  border-radius: 2px;
  outline: none;
  border: solid 1px #e8e8e8;
  padding: 2px;
  overflow: auto;
  width: 100%;
  margin-top: 5px;
}

.sign-form button {
  float: right;
  margin-top: 10px;
  background-color: #124ebd;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}

.sign-form a {
  color: white;
  float: left;
  margin-top: 15px;
}

.sign-form .error {
  display: block;
  background: #ee4747bf;
  border-radius: 2px;
  font-size: 14px;
  line-height: 2;
}