.sidebar-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    background: #fff;
    transition: transform 0.4s ease-out;
    transform: translateX(-100%);
    border-right: 1px solid #cdcfd2;
}

.sidebar-panel-opened {
    transform: translateX(0%);
}

.sidebar-panel-header {
    border-bottom: 1px solid #cdcfd2;
    padding: 20px;
    display: flex;
    align-items: center;
    background: #4299b1;
    color: white;    
    height: 70px;
}

.back {
    flex: 1;
    font-size: 30px;
}

.title {
    flex: 5;
    font-size: 21px;
}