.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .title {
    font-size: 30px;
    color: white;
    margin: 5px;
}

.main .logo {
    width: 150px;
    height: 150px;
}

.main .block-desc {
    font-size: 30px;
    color: white;
    margin-bottom: 300px;
}

.main .block-desc a {
    color: white;
}

.user-list {
    display: flex;
    flex-flow: row wrap;
}