.profile {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profile .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .info .name {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

.profile .info .email {
    text-align: center;
    font-size: 16px;
}

.profile .info .bio {
    text-align: center;
    width: 60%;
    margin-top: 5px;
    font-size: 14px;
}

.profile .form {
    width: 300px;
}
.profile .form textarea {
    display: block;
    border-radius: 5px;
    outline: none;
    resize: none;
    border: solid 1px #e8e8e8;
    padding: 10px;
    overflow: auto;
    width: 100%;
    margin-top: 25px;
}

.profile .form button {
    float:right;
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
}

.profile .form button:hover {
    background-color: rgb(21, 177, 21);
}