.smart-scroll {
    width: 100%;
}
.smart-scroll-content {
    overflow: auto;
    position: absolute;
    width: 100%;
    max-height: 100%;
    bottom: 0;
}
.scroll-down {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0px;
    font-size: 25px;
    color: #353838;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}