.contact {
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.contact .info {
    margin: 10px;
}

.contact .info .last-message {
    color: #555555;
    font-size: 13px;
}

.contact.current {
    background: #ebebeb;
}

