.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
}

.card .name {
    margin-top: 5px;
    font-size: 18px;
}

.card .email {
    font-size: 13px;
}

.card .link-profile {
    background-color: #124ebd;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
    margin: 5px;
}