.sidebar {
    z-index: 2;
    position: absolute;
    background: #fff;
    width: 300px;
    height: 100vh;
    transition: transform 0.3s ease-out;
    transform: translateX(0%);
}

.sidebar-docked {
    transform: translateX(-100%);
}

@media screen and (min-width: 993px) {
    .sidebar {
        position: relative;
        width: 400px;
    }
}

.burger {
    text-decoration: none;
    color: #fff;
    left: 10px;
    top: 10px;
    font-size: 1.5em;
    position: fixed;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    background-color: rgba(0, 0, 0, 0.3);
}