.avatar {
    border: solid 1px #c6c6c6;
    cursor: pointer;
    overflow: hidden;
    background: white;
}

.avatar img {
    width: 100%;
}

.avatar svg {
    width: 100%!important;
    height: 100%;
}