.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.register-form form {
    text-align: center;
    width: 300px;
    color: white;
}

.register-form input {    
    display: block;
    border-radius: 2px;
    outline: none;
    border: solid 1px #e8e8e8;
    padding: 2px;
    overflow: auto;
    width: 100%;
    margin-top: 5px;
}

.register-form button {
    float: right;
    margin-top: 10px;
    background-color: #124ebd;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
}

.register-form a {
    color: white;
    float: left;
    margin-top: 15px;
}